body {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
    background-color: rgb(35, 37, 36);
}

.container > header {
    grid-column: 1 / -1;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;

    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}

.container > #memory {
    grid-column: 1 / 4;
    grid-row: 3;
}
.container > #stack {
    grid-column: 1 / 4;
    grid-row: 4;
}

.container > div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}

.container {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-rows: 70px 318px 180px 180px;
    gap: 7px;
}




#registers {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: repeat(11, 20px);
    gap: 7px;
}

.register-name {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
}

.register-value {
    border: 1px solid rgb(79,185,227);
    text-align: center;
}
.register-value2 {
    grid-column: 2 / 4;
    border: 1px solid rgb(79,185,227);
    text-align: center;
}

#registers > header {
    grid-column: 1 / 4;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;

    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}

.register-input-box {
    background-color: transparent;
    border: none;

    text-align: center;
    width: 20px;
}
.register-input-box2 {
    background-color: transparent;
    border: none;

    text-align: center;
    width: 40px;
}


.lastViewed {
    background-color: rgba(143, 233, 170, 0.521);
}
.wrong {
    background-color: rgba(233, 143, 143, 0.521);
}



#commands {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 20px 40px 20px 7px repeat(4, 38px);
    gap: 7px;
    justify-items: center;
}

#commands > header {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;

    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
    width: 100%;
    box-sizing: border-box;
}

#commands > .command-field {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;

    padding: 10px;
    padding-top: 13px;
    background-color: rgb(207,232,220);
}

.command-field-input-box {
    background-color: rgb(199, 226, 190);
}

.command-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 1px solid rgb(43, 43, 43);
    width: 97%;

    background-color: rgb(243, 243, 243);
    font-size: 10px;

    user-select: none;
}
.command-button:active {
    box-shadow: 0 0 9px -1px rgba(0,0,0,0.7);
}

.separator {
    grid-column: 1 / -1;
}




#controls {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 20px repeat(4, 50px);
    gap: 15px;

    justify-items: center;
}

#controls > header {
    grid-column: 1 / -1;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;

    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
    width: 100%;
    box-sizing: border-box;
}

#controls > .control-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 3px solid rgb(43, 43, 43);
    width: 140px;

    background-color: rgb(243, 243, 243);
    font-size: 13px;

    user-select: none;
}

#execButton {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1 / -1;

    border-radius: 5px;
    border: 3px solid rgb(43, 43, 43);
    width: 309px;

    background-color: rgb(243, 243, 243);
    font-size: 13px;

    user-select: none;
}
#execButton:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

#controls > .control-button:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

#memory {
    display: grid;
    grid-template-columns: auto repeat(16, 1fr);
    grid-template-rows: repeat(6, 20px);
    gap: 7px;
}

#memory > header {
    grid-column: 1 / -1;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;

    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
    width: 100%;
    box-sizing: border-box;
}

#stack {
    display: grid;
    grid-template-columns: auto repeat(16, 1fr);
    grid-template-rows: repeat(6, 20px);
    gap: 7px;
}

#stack > header {
    grid-column: 1 / -1;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;

    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
    width: 100%;
    box-sizing: border-box;
}

#stackViewAddress {
    text-decoration: underline;
}

#memoryViewAddress {
    text-decoration: underline;
}